:root {

    
    --first-color:#f2dcd3;
    --second-color:#ebc9c6;
    --third-color:#d9e3d9; 
    --fourth-color:#d0cfbf;
    --fifth-color:#c1c2b3;
    --sixth-color:#333333;
    --seventh-color:#e4dede;
    --first-font:'Nunito';
    --second-font:'B612';
    --shadow:6px 6px 9px #0000006e, -6px -6px 9px #a3a0a025;
    --shadow-inset:inset 6px 6px 9px #0000006e, inset -6px -6px 9px #a3a0a025;
    --first-shadow-text:2px 2px 4px rgba(0, 0, 0, 0.6), -1px -1px 3px #fff;
    --second-shadow-text:1px 1px 2px rgba(0, 0, 0, 0.3), -1px -1px 1.5px #fff;

}

*, *::before, *::after {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    background: linear-gradient(120deg, var(--second-color),var(--first-color));
    color: var(--sixth-color);
    font-family: var(--first-font), sans-serif;
    min-height: 100vh;

}

header {

  font-size: 2rem;
  text-shadow: var(--second-shadow-text);
  font-weight: bolder;
  justify-content: center;
    
}

header, form {

    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

form input, form button {

    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: var(--seventh-color);
    
}


form input {

    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    outline: none;
    background: var(--seventh-color);
    box-shadow: var(--shadow-inset);
    border-radius: 15px;
    width: 550px;
    height: 60px;
    margin-right: 10px;
    text-align: right;
}


form button {

    color: var(--first-color);
    background: linear-gradient(145deg, var(--fourth-color), #bbbaac);
    box-shadow: var(--shadow);
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;

}

form button:hover, form button:active {

    background: linear-gradient(145deg, var(--first-color), #dac6be);
    color: var(--fourth-color);

}

form button:active{

    box-shadow: var(--shadow-inset);
    background: var(--second-color);

}

.todo-container{

    display: flex;
    justify-content: center;
    align-items: center;

}

.todo-list {

    min-width: 30%;
    list-style: none;

}

.todo {

    margin: 0.5rem;
    background: var(--third-color);
    color: var(--sixth-color);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow);
    border-radius: 15px;
    width: 600px;
    height: 60px;
    margin-right: 5px;
    transition: all 0.5s ease;

}

.todo li {

    flex: 1;

}

.trash-btn, .complete-btn {

    background: linear-gradient(145deg,var(--second-color), #d4b5b2);
    color: var(--first-color);
    box-shadow: var(--shadow);
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    
}

.trash-btn:active, .complete-btn:active {

    box-shadow: var(--shadow-inset);
    
}


.complete-btn {

    background: linear-gradient(145deg, var(--fifth-color), #aeafa1);
    color: var(--first-color);
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 10px;

}

.todo-item {

    padding: 0rem 0.5rem;

}

.fa-trash, .fa-check {

    pointer-events: none;

}

.completed {

    text-decoration: line-through;
    opacity: 0.5;
    box-shadow: var(--shadow-inset);

}

.fall {

    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;

}

select {

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;

}

.select {

    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: var(--shadow);

}

select {

    color: var(--sixth-color);
    background: var(--seventh-color);
    width: 10rem;
    cursor: pointer;
    padding: 1rem;    

}

.select::after {

    content: "\25BC";
    position: absolute;
    background: var(--fourth-color);
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;

}

.select:hover::after {
    background: var(--first-color) ;
    color: var(--fourth-color);
}
